{%extends "base.html"%}
{% block title %}{{card_list.name}}{% endblock %}
{%block content%}
	<div id="app">
		<div class="columns">
		<div class="box column is-four-fifths">
			<h2 class="title is-3">{{card_list.name}} от <a href="{% url 'exchprofile:user_profile' card_list.user.username%}">{{card_list.user.username}}</a></h2>
			<table class="list">

				<tr><th>Карта</th><th>Средняя цена</th><th>Цена владельца</th><th>Состояние</th></tr>
				<tr v-for="card in sorted_cards" v-if="filt(card)">
        	<td>[[card.name]]</td>
        	<td v-if="card.price>=0">[[card.price]]$</td>
					<td v-if="card.price<0" class="mdi mdi-loading mdi-spin"></td>
        	<td v-if="!card.editPriceMode">[[card.my_price]]$
					<span v-if="owner" class="mdi mdi-pencil-outline" v-on:click="toggleEditPrice(card)"></span></td>
        	<td v-if="card.editPriceMode">
            <input class="edit-card-input input is-small" type="number" v-model="card.my_price" v-on:keyup.enter="toggleEditPrice(card)">
						<span v-if="owner" class="mdi mdi-pencil-outline" v-on:click="toggleEditPrice(card)"></span>
					</td>

        	<td v-if="!card.editConditionMode">[[card.condition]]
						<span v-if="owner" class="mdi mdi-pencil-outline" v-on:click="toggleEditCondition(card)"></span>
					</td>
					<td v-if="card.editConditionMode">
						<div class="select is-small">
						<select v-model="card['condition']" class="edit-card-select" name="condition" id="id_condition" v-on:keyup.enter="toggleEditCondition(card)">
							<option value="M" > M </option>
							<option value="NM">NM</option>
							<option value="SP">SP</option>
							<option value="HP">HP</option>
						</select>
						</div>
						<span v-if="owner" class="mdi mdi-pencil-outline" v-on:click="toggleEditCondition(card)"></span>
					</td>
        	<td><button class="delete" v-on:click="delete_el(card.id)" v-if="owner"></button></td>
      	</tr>
      	<tr v-if="owner">
        	<form method="POST" >
          	{%csrf_token%}
          	<td><input class="add-card input is-small" type="text" v-model="new_card['name']" name="name" maxlength="100" required id="id_name" /></td>
          	<td></td>
          	<td><input type="number"  class="add-card input is-small" v-model="new_card['my_price']" name="my_price" value="0" step="any" id="id_my_price" /></td>
          	<td>
							<div class="select is-small">
              	<select  v-model="new_card['condition']" class="add-card-select" name="condition" id="id_condition">
                	<option value="M">M</option>
                	<option value="NM" selected>NM</option>
                	<option value="SP">SP</option>
                	<option value="HP">HP</option>
              	</select>
							</div>
						</td>
          	<td>
           		<button class="button is-primary" v-on:click="submit_new_card">Добавить</button>
          	</td>
      	</form>
    	</tr>
			</table>
		</div>
		<div class="filters box column ">
      <div class="filter box">
        <p>Состояние</p>
			<form >
				<p><input v-model="cond" type="checkbox"  name="cond" value="M">M</p>
				<p><input v-model="cond" type="checkbox"  name="cond" value="NM">NM</p>
				<p><input v-model="cond" type="checkbox"  name="cond" value="SP">SP</p>
				<p><input v-model="cond" type="checkbox"  name="cond"  value="HP">HP</p>
			</form>
      </div>
      <div class="filter box">
      <p>Фойла</p>
      <form>
        <p><input type="radio" value="F" name="foil" v-model="foil">Только фоил</p>
        <p><input type="radio" value="N" name="foil" v-model="foil">Только не фоил</p>
        <p><input type="radio" value="D" name="foil" v-model="foil">Без разницы</p>
      </form>
      </div>
      <div class="filter box">
        <p>Сортировка</p>
      <form>
        <p><input type="radio" value="price(dec)" name="sort" v-model="sort">по цене(убыв)</p>
        <p><input type="radio" value="price(inc)" name="sort" v-model="sort">по цене(возрас)</p>
        <p><input type="radio" value="alph" name="sort" v-model="sort">по алфавиту</p>
        <p><input type="radio" value="def" name="sort" v-model="sort">сбросить</p>
      </form>
    </div>
		</div>
		<div>
		<div class="notifications">
			<div v-for="message in messages" v-bind:class="message.class" class="notification">
				<button class="delete"  v-on:click="messages.splice(messages.map((e)=>e.id).indexOf(message.id), 1)"></button>
				[[message.text]]
			</div>
		</div>
	</div>
<script>
let app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
		owner:"{{card_list.user.id}}"=="{{request.user.id}}",
    cards:[],
    cond:[],
    sort:"def",
    foil:"D",
    new_card:{},
		messages:[],
		message_id:0,
  		},
  methods:{
		loadCards:function(){
				let url = "{%url 'plist:get_cards' card_list.id %}";
				fetch(url, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
						"X-CSRFToken":"{{csrf_token}}"
						},
					credentials:"same-origin",
					body: JSON.stringify()
				}).then((response)=>{
					return response.json();
				}).then((data)=>{
					for(i of data){
						if(app.cards.map((e)=>e.id).indexOf(i.id) == -1){
						i["editPriceMode"]=false;
						i["editConditionMode"]=false;
						app.cards.push(i);}
					}
					this.loadPrices();
				}).catch((error)=>{
					console.log(error);
				})
			},
			loadPrice:function(card){
				let url = "{%url 'plist:get_market_price' %}";
				fetch(url, {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
						"X-CSRFToken":"{{csrf_token}}"
						},
					credentials:"same-origin",
					body: JSON.stringify(card)
				}).then((response)=>{
					return response.json();
				}).then((data=>{
					card.price=data["price"];
				})).catch((error)=>{
					console.log(error);
				})
			},
			loadPrices:function() {
				for (var i=0; i<this.cards.length; i++) {
					this.loadPrice(this.cards[i]);
				}
			},
      filt:function(card){
        condition = app.cond.length==0|app.cond.findIndex((i)=>i==card.condition)!=-1;
        foil = card.foil&app.foil=="F"|(!card.foil)&app.foil=="N"|app.foil=="D";
        return condition&foil;
      },


      change_card:function(card){

        let url = "{%url 'plist:change_card' %}";
        fetch(url, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken":"{{csrf_token}}"
          },
          credentials:"same-origin",
          body: JSON.stringify(card)
        }).then((response)=>{
          console.log(response);
        }).catch((error)=>{
          console.log(error);
        })
      },
			toggleEditPrice:function(card){
				if(card["editPriceMode"]===true){
					this.change_card(card)
					card["editPriceMode"]=false;
				}else{
					card["editPriceMode"]=true;
				}
			},
			toggleEditCondition:function(card){
				if(card["editConditionMode"]===true){
					this.change_card(card)
					card["editConditionMode"]=false;
				}else{
					card["editConditionMode"]=true;
				}
			},

      submit_new_card:function(){
        let url = "{%url 'plist:add_new_card' %}";
        new_card = this.new_card;
        new_card["card_list"] = {{card_list.id}};
        fetch(url, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken":"{{csrf_token}}"
          },
          credentials:"same-origin",
          body: JSON.stringify(new_card),
        }).then((response)=>{
          return response.json();
        }).then((data)=>{
					this.new_card = {};
					this.loadCards();
					console.log(data);
					if(data["success"]==true){this.messages.unshift({"text":"Карта добавлена","class":"is-success", "id":this.message_id++})}
					else{this.messages.unshift({"text":"Карта не найдена","class":"is-danger", "id":this.message_id++})};
				}).catch((error)=>{
          console.log(error);
        })
      },


      delete_el:function(id){
        let url = "{%url 'plist:delete_card' %}";
        fetch(url, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken":"{{csrf_token}}"
          },
          credentials:"same-origin",
          body: JSON.stringify({"card_id":id})
        }).then((response)=>{
        console.log(response);
          new_cards = [];
          for (var i = 0; i < this.cards.length; i++) {
            if(this.cards[i].id!=id){
            new_cards.push(this.cards[i]);}
          }
          this.cards = new_cards;
      }).catch((error)=>{
          console.log(error);
        })
      }
  	},



  computed:{
    sorted_cards:function(){
      sorted = this.cards.slice(0)
      if(this.sort=="price(inc)"){
        sorted.sort(function(a,b){return a.price-b.price})
      }else if(this.sort=="price(dec)"){
        sorted.sort(function(a,b){return b.price-a.price})
      }else if(this.sort=="alph"){
        sorted.sort(function(a,b){if(b.name>a.name){return -1}else{return +1}})
      }
      return sorted;
    }
  }
  })
	app.loadCards()
	app.loadPrices()
</script>
{%endblock%}
