{%extends "base.html"%}
{% block title %}{{card_list.name}}{% endblock %}
{%block content%}
	<div id="app">
		<div class="filters">
      <div class="filter">
        <p>Состояние</p>
			<form >
				<input v-model="cond" type="checkbox"  name="cond" value="M">M
				<input v-model="cond" type="checkbox"  name="cond" value="NM">NM
				<input v-model="cond" type="checkbox"  name="cond" value="SP">SP
				<input v-model="cond" type="checkbox"  name="cond"  value="HP">HP
			</form>
      </div>
      <div class="filter">
      <p>Фойла</p>
      <form>
        <input type="radio" value="F" name="foil" v-model="foil">Только фоил
        <input type="radio" value="N" name="foil" v-model="foil">Только не фоил
        <input type="radio" value="D" name="foil" v-model="foil">Без разницы
      </form>
      </div>
      <div class="filter">
        <p>Сортировка</p>
      <form>
        <input type="radio" value="price(dec)" name="sort" v-model="sort">по цене(убыв)
        <input type="radio" value="price(inc)" name="sort" v-model="sort">по цене(возрас)
        <input type="radio" value="alph" name="sort" v-model="sort">по алфавиту
        <input type="radio" value="def" name="sort" v-model="sort">сбросить
      </form>
    </div>
		</div>
		<table class="list">
			<tr><th>Card Name</th><th>Price</th><th>Owner's price</th><th>Condition</th></tr>
			<tr v-for="card in sorted_cards" v-if="filt(card)"><td>[[card.name]]</td><td>[[card.price]]$</td><td>[[card.my_price]]$</td><td>[[card.condition]]</td><td><a href="#" v-on:click="delete_el(card.id)">X</a></td></tr>
		</table>
    <a href="{% url 'plist:edit_cardlist' %}"><button>Добавить новые карты</button>
	</div>
<script>
let app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    cards:[],
    cond:[],
    sort:"def",
    foil:"D",
  		},
  methods:{
  	loadCards:function(){
  		let xhttp = new XMLHttpRequest();
  		xhttp.onreadystatechange = function(){
  			if(this.readyState == 4 && this.status==200){
  			for(i of JSON.parse(this.responseText)){
  				app.cards.push(i);
  			}}
  		}
  		xhttp.open("GET", `${document.location.pathname.split("/")[2]}/cards`, true);
  		xhttp.send();},

      filt:function(card){
        condition = app.cond.length==0|app.cond.findIndex((i)=>i==card.condition)!=-1;
        foil = card.foil&app.foil=="F"|(!card.foil)&app.foil=="N"|app.foil=="D";
        return condition&foil;
      },
      delete_el:function(id){
        let url = "{%url 'plist:delete_card' %}";
        fetch(url, {
          method: "POST",
          headers: {
            'Content-Type': 'application/json',
            "X-CSRFToken":"{{csrf_token}}"
          },
          credentials:"same-origin",
          body: JSON.stringify({"card_id":id})
        }).then((response)=>{
        console.log(response);
          new_cards = [];
          for (var i = 0; i < this.cards.length; i++) {
            if(this.cards[i].id!=id){
            new_cards.push(this.cards[i]);}
          }
          this.cards = new_cards;
      }).catch((error)=>{
          console.log(error);
        })
      }
  	},
  computed:{
    sorted_cards:function(){
      sorted = this.cards.slice(0)
      if(this.sort=="price(inc)"){
        sorted.sort(function(a,b){return a.price-b.price})
      }else if(this.sort=="price(dec)"){
        sorted.sort(function(a,b){return b.price-a.price})
      }else if(this.sort=="alph"){
        sorted.sort(function(a,b){if(b.name>a.name){return -1}else{return +1}})
      }
      return sorted
    }
  }
  })
	app.loadCards()	
	
</script>
{%endblock%}