
.filters{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;

}
.filter{
	margin: 30px;
	text-align: center;
}
.filter form{
	display: flex;
	flex-wrap: wrap;

}


.add-card{
	width:200px;
}
.add-card-select{
	width:100px;
}
.edit-card-input{
	width: 180px;
}
.edit-card-select{
	width: 80px;
}


.list{
	text-align: center;
	width: 100%;
}
.list a{
	text-align: center;
}

td{
	height: 40px;
	width: 100px;
}
.notifications{
	position: absolute;
	bottom: 10px;
	right:10px;
	width:200px;
}
.notification{
	margin-bottom: 0;
}
#search{
	text-align: center;
	margin-top: 5%;
}
#search .field{
	width: 40%;
}
#search .submit{
	width: 10%;
	height: 20px;
	border-radius: 0;
	border-color: black;
	background-color: white;
}
