*{
	box-sizing: border-box;
}
.navigator {
	display: flex;
  flex-direction: row;
	margin-bottom: 10px;
	justify-content: space-around;
}
.navigator a{
	display: block;
	text-decoration:none;
	color: black;
}
.filters{
	display: flex;
	justify-content: space-around;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	text-align: center;

}
.filter{
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin: 30px;
	text-align: center;
}
.filter form{
	display: flex;
	flex-wrap: wrap;
}
@media (max-width: 800px) {
  .navigator, .filters {
    flex-direction: column;
  }

}
.pannel{
	padding: 5px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	width: 100%;
	text-align: center;
}

.list{
	margin: 5%;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	width: 90%;
	text-align: center;
}
.list a{
	text-align: center;
}
.edit_icon{
	cursor:pointer;
	display: inline;
}
td{
	height: 40px;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 5px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#search{
	text-align: center;
	margin-top: 5%;
}
#search .field{
	width: 40%;
}
#search .submit{
	width: 10%;
	height: 20px;
	border-radius: 0;
	border-color: black;
	background-color: white;
}
